@use 'variables' as v;

// Tamaños dispocitivos
@mixin phone {
    @media (min-width: v.$phone){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }
}

// sombras
@mixin sombra {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
}

@mixin sombra-btn {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


@mixin  sombra_header {
    -webkit-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
}

// Botones
@mixin boton_morado {
    margin: 0 auto;
    padding: 1.5rem 3.5rem;
    background-color: v.$morado_oscuro;
    border-radius: 1rem;
    color: v.$blanco;
    font-weight: 700;
}

// Utilidad
@mixin fondo_contacto {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}