@use 'variables' as v;

@mixin phone {
    @media (min-width: v.$phone){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }
}


@mixin sombra {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.16);
}

@mixin formatear {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    line-height: 0;
    letter-spacing: 0;
    text-decoration: 0;
    font-weight: 0;
    font-size: 0;
    text-align: center;
}