@use 'base/variables' as v;
@use 'base/mixins' as m;

.pago-seguro {
    display: grid;
    text-align: center;
    row-gap: 2rem;
    background-color: v.$blanco;
    padding: 4rem 1rem;
    border-radius: .5rem;

    @include m.tablet {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7rem;
    }

    h3 {
        color: v.$morado_oscuro;
        font-size: 2rem;

    } 

    p {
        margin: 0;
        font-size: 1.6rem;
    }
}

.pago-seguro-contenido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    img {
        max-height: 10rem;
        max-width: 20rem;
    }
    
    &:first-child {
        margin-top: 0;
    }

    @include m.tablet {
        margin-top: 0;
    }
}