@use 'base/variables' as v;
@use 'base/mixins' as m;


.header-contacto {
    text-align: center;
    padding-top: 2rem;
    @include m.tablet {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 2rem;
       p {
           margin: 0;
           font-size: 1.5rem;
       }
    }
}