@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;

    @include m.desktop{
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
    }
}

.redes-sociales {
    display: flex;
    gap: 4rem;
    text-align: center;

    @include m.desktop {
        flex-direction: column;
        justify-content: center;
    }
    
    h3 {
        margin-bottom: 1rem;
        color: v.$morado_oscuro
    }
    p {
        margin: 0;
    }

    img {
        max-height: 4rem;
        max-width: 4rem;

        &:hover {
            filter: invert(50%);
        }
    }
}

.campos {
    max-width: 50rem;
    display: grid;
    row-gap: 1rem;

    h2 {
        margin: 0;
        text-align: center;
        color: v.$morado_oscuro;
    }

    p {
        text-align: center;
    }

    @include m.tablet {
        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    input {
        border: none;
        padding: .8rem;
    }

    textarea {
        height: 15rem;
        border: none;
        padding: .8rem;
    }
}

.campos .formulario-boton {
    @include m.boton_morado;
    @include m.sombra;
    margin-top: 2rem;
}

.seccion-campo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
    input {
        width: 100%;
    }
}