@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.contenedor-formulario {

    max-width: 50rem;

    h2 {
        margin: 0;
        text-align: center;
        color: v.$morado_oscuro;
    }

    p {
        text-align: center;
    }

    @include m.tablet {
        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }
}

.campos {

    display: grid;
    row-gap: 1rem;
    border: none;

    input {
        border: none;
        padding: .8rem;
    }

    textarea {
        height: 15rem;
        border: none;
        padding: .8rem;
    }
}

.campos .formulario-boton {
    @include m.boton_morado;
    @include m.sombra;
    margin-top: 2rem;
}

.seccion-campo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
    input {
        width: 100%;
    }
}