@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: url(../../../img/banner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.contenido-header {

    display: grid;
    row-gap: 1rem;
    text-align: center;

    h1 {
        margin: 0;
        font-family: v.$fuente_logo;
        color: v.$negro;
        font-size: 6rem;
    }

    @include m.tablet {
        h1 {
            text-align: left;
        }
    }


    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr .2fr;
        align-items: center;
    }
}

.busqueda {
    display: grid;

    input {
        padding: 1rem;
        border: 0;
        background-color: v.$gris;
        border-radius: 5rem;
        outline: none;
    }
}

.navegacion-principal {
    justify-content: center;

    a {
        color: v.$negro;
        font-size: 2rem;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover{
            color: v.$negro;
        }
    }
}

.header-texto {
    text-align: center;
    margin-top: 5rem;

    @include m.tablet {
        margin-top: 20rem;
    }

    h2 {
        margin: 0;
    }
}