@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: url(../../../img/banner_god.svg);
    padding-top: 3rem;
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.contenido-header {

    display: grid;
    row-gap: 3.5rem;
    text-align: center;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }
}

.logo {
    max-width: 13rem;
    margin-top: 1rem;

    @include m.tablet {
        display: flex;  
        justify-content: left;
        margin-top: 0;
    }
}

.busqueda {
    display: grid;
    grid-template-columns: 4fr .2fr;
    background-color: v.$blanco;
    padding: .5rem;
    position: relative;
    margin-bottom: 0;
    justify-content: center;

    // sombra
    @include m.sombra;

    input {
        border: none;
        outline: none;
    } 
}

.bt-busqueda {
    background-image: url(../../../img/lupa.png);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    height: 100%;
    background-color: v.$gris;
    text-indent: -9999px;
    width: 23px;
    background-position: center center;
    &:hover {
        cursor: pointer;
    }
}

.barra-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include m.tablet {
        
    justify-content: right;
    }

    img {
        max-width: 23px;
    }

    
}

.submenu {
    position: relative;
}

.submenu {
    #carrito{
        display: none;
    }

  
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: v.$blanco;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}


.navegacion-principal {
    justify-content: center;

    a {
        color: v.$blanco;
        margin-right: 1rem;
        font-size: 2rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover{
            color: v.$morado_texto
        }
    }
}

.header-texto {
    text-align: center;
    margin-top: 2rem;

    @include m.tablet {
        margin-top: 17rem;
    }

    h1, p {
        margin: 0;
        line-height: 1.5;
        color: v.$negro;

        @include m.tablet {
            color: v.$negro;
        }
    }

    button {
        font-family: v.$fuente_principal;
        border: none;
        background-color: v.$blanco;
        font-weight: bold;
        border-radius: .5rem;
        margin-top: 1rem;
        color: v.$morado_texto;
        letter-spacing: 0;
        cursor: pointer;

        @include m.sombra;
    }
}