@use 'base/variables' as v;
@use 'base/mixins' as m;

.submenu-carrito {
    position: relative;
}

.submenu-carrito {
    padding: 1rem 0 1rem 1rem;
    #carrito{
        display: none;
    }
}

.submenu-carrito:hover #carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: v.$blanco;
    padding: 1rem;
    min-height: 40rem;
    min-width: 35rem;

    border: 1px solid v.$gris;
}

.titulos-carrito {
    display: flex;
    justify-content: space-between;
}

.carrito-footer {
    display: grid;
    gap: 1rem;
    p {
        margin: 0;
    }
}

.ir-carrito {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    color: v.$blanco;
    background-color: v.$negro;
}