@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;

    .lista-hamburgesa {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: v.$gris;
        margin: 0;
        padding: 2rem;
        z-index: 1;
        top: 100%;
        left: 0;
        height: auto;
        width: 100%;
        visibility: hidden;
        opacity: 0;

        &.mostrar{
            visibility: visible;
            opacity: 1;
            transition: visibility .3s ease-in-out, opacity .4s linear;
            
        }
        
    
        @include m.desktop {
            display: none;
        }

        a {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;

            img {
                max-height: 2.3rem;
                max-width: 3rem;
            }

            li{
                list-style: none;
                color: v.$negro;
                font-weight: 600;
            }

            
        }
    }
}