@use 'base/variables' as v;
@use 'base/mixins' as m;


.barra-nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.submenu {
    display: flex;
    align-items: center;
    cursor: pointer;

    position: relative;

    img {
        max-width: 2.3rem;
        filter: invert(100%);
    }

    span {
        color: v.$blanco;
    }

    #submenu{
        display: none;
        margin: 0;
        padding: 0;
        background-color: v.$blanco;
        flex-direction: column;
        height: auto;
        min-width: 20rem;

        li {
            list-style: none;
            color: v.$morado_oscuro;
            padding: 1rem 1rem;
            font-weight: v.$bold;
            border-top: 1px solid v.$gris;

            &:first-child {
                border: none;
            }

            &:hover {
                background-color: v.$morado_oscuro;
                color: v.$blanco;
            }
        }
    }

    &:hover {
        img {
            filter: none;
        }

        span {
            color: v.$morado;
        }

        #submenu {
            display: flex;
            position: absolute;
            top: 100%;
            z-index: 1;
        }
    }

}




.navegacion-principal {
    display: flex;
    font-size: 1.6rem;
    gap: 2rem;

    a {
        color: v.$blanco;
        

        &:hover{
            color: v.$negro;
        }
    }
}