@use 'base/variables' as v;
@use 'base/mixins' as m;

.ofertas {
    h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: 400;
        color: v.$gris_texto;
    }
}

.contenedor-ofertas {
    position: relative;

    .ofertas-btn {
        position: absolute;
        display: flex;
        border: none;
        top: calc(50% - 35px);
        cursor: pointer;
        align-items: center;
        height: 4rem;
        width: 4rem;
        background-color: v.$blanco;
        border-radius: 50%;
        z-index: 1;

        img {
            height: 3rem;
            width: 3rem;
        }

        &:hover {
            @include m.sombra-btn;
        }
    }

    .oferta-prev {
        left: -1rem;
    }

    .oferta-next{
        right: -1rem;
    }

    .lista-ofertas {
        overflow: hidden;
    }
}

.carousel-indicadores {
    display: none; 

    @include m.phone {
        display: flex;
    }

    .glider-dot {
        background-color: v.$blanco;
        opacity: .2rem;
        height: .8rem;
        width: .8rem;

        &.active {
            background-color: v.$negro;
        }

        &:hover {
            opacity: .5;
        }

        
    }
}

.contenedor-producto {
    display: grid;
    grid-template-rows: 1fr .8fr;
    background-color: v.$blanco;
    border-radius: 1rem;
    height: 25rem;
    padding: 1rem;
    margin: 1rem;
    align-items: flex-end;
    width: -moz-available;

    img {
        max-width: 17.5rem;
    }

    &:hover {
        @include m.sombra;
    }
}

.oferta-info {
    max-height: 40rem;
    border-top: 1px solid v.$gris;

    h3 {
        font-size: 1.5rem;
    }

    p {
        margin: 0;
    }

    .oferta {
        font-size: 1.2rem;
        text-decoration: line-through;
    }

    .precio {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}