@use 'base/variables' as v;
@use 'base/mixins' as m;

.pago-seguro {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: grid;
    text-align: center;
    row-gap: 2rem;

    @include m.tablet {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 7rem;
    }

    h3 {
        font-size: 2rem;
        margin: 1rem 0 0 0;

    }  
}