@use 'base/variables' as v;
@use 'base/mixins' as m;

.submenu{
    display: inline-block;
    gap: 2rem;
    padding: 0;
    
    span {
        color: v.$gris;
        margin: 0;
        margin-right: 2rem;
        cursor: pointer;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            color: v.$negro;
        }
    }

}